{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %} 

    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% endif %}

<div class="container">
    <h1>Agende seu Horário</h1>
    <i class="bi bi-7-square-fill"></i>
<hr>
    <form method="POST">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <br>
        <div>
            <label for="data">Data (AAAA-MM-DD):</label>
            <input type="date" id="data" name="data" required>
        </div>
        <br>
        <div>
            <label for="hora">Hora (HH:MM):</label>
            <input type="time" id="hora" name="hora" required>
        </div>
        <br>
        <button type="submit">Agendar</button>
    </form>
    <p><a href="{{ url_for('listar_agendamentos') }}">Ver Agendamentos</a></p>
</div>
{% endblock %}