{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="container px-4 text-center">
  <div class="col gx-5">
    <div class="col">
      <div class="p-3">Telefone (15) 99700-0000</div>
    </div>
    <div class="ratio ratio-4x3 rounde border shadow" style="width: 400px; height: 300px; margin: auto;">
        <iframe src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.9993395882775!2d-46.78466474487732!3d-23.53252616429265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ceffa1b44ac53d%3A0x6257c586b26048dd!2sAv.%20dos%20Autonomistas%2C%204000%20-%20Vila%20Yara%2C%20Osasco%20-%20SP%2C%2006090-010!5e0!3m2!1spt-BR!2sbr!4v1747592421135!5m2!1spt-BR!2sbr" width="100" height="50" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>Salão e Barbearia Retrô Barber</iframe>
    </div>
  </div>
</div>

{% endblock %}