<!--Página Inicial "Home"-->

<!--pemite inserir codigos python entre %-->
{% extends 'base.html' %}<!--extenção de base.html evita a repecição dos códigos de inicialição HTML-->
{% block content %}

<div class="container">
   
    
    <div>
        <!--Se o usuário estiver autenticado faça:-->                                  
        {% if current_user.is_authenticated %}      
        
        <!--Mostra o usuário Logado-->
        Bem vindo(a)&nbsp; <span class="btn btn-primary",> {{current_user.nome}} {{current_user.sobrenome}}</span>
        &nbsp;

        <a href="contato" class="btn btn-primary text-end">Entre em Contato</a>
        &nbsp; 

        <span class="btn btn-primary"> <!--Botão Azul-->
            <i class="bi bi-info-circle"></i><!--Icone da Tesoura-->
            <a href="{{url_for('sobre')}} " class="text-white">Sobre</a><!-- Link para Agenda-->
        </span>
        &nbsp;
        
        <!--Botao de Sair "Logout"-->
        <a href ="{{url_for('logout')}}" class= "btn btn-danger">Sair</a> 
    

    <hr><!--Quebra de Linha-->

        <h1><img src="\static\img\iconebarbearia.jpeg" class ="mh-100" style="width: 171px; height: 148px;">   Salão e Barbearia Retrô Barber</h1>

        <!--Botão Azul-->
        <span class="btn btn-primary mt-4">

        <!--Icone da Tesoura-->
        <i class="bi bi-book"></i>

        <!-- Link para Agenda-->
         <a href="{{url_for('agendar')}} " class="text-white">Agendar</a>
        </span>

        {%else %}<!--Se não-->
        <div>
        <!--Inclui os botões de navegação do arquivo nav.html usando comando python no html-->

        <!--Formulário de Login-->
        <form action="" method="post" class="col -md-7 mt-4 p-4 rounde border shadow">
        
            <h3><a href="{{url_for('login')}}" class="btn btn-primary">Login</a></h3>
        
            <p>Faça seu login para agendar um horário</p>
            <p>ou cadastre-se agora mesmo</p>
        
        </div>    

        </form>

        {% endif %}     
      
    </div>     
</div>
{% endblock %}

        <!-- Não faz parte do programa somente para estudo.
        <div class="col-12 mt-4">Não tem cadastro? <a href="{{url_for('cadastro')}}">Faça aqui o seu Cadastro</a></div>
 
        <div class="col-12 mt-4">Gostaria de <a href="{{url_for('agendar')}}">Agendar?</a></div>

        
        <hr>
        
        <img src="{{ url_for('static', filename='img/Univesp.jpg')}}">

       
    
    
