<!--Página Inicial "Home"-->

<!--pemite inserir codigos python entre %-->
{% extends 'base.html' %}<!--extenção de base.html evita a repecição dos códigos de inicialição HTML-->
<body>
    

{% block content %}
<body>
    

    <div class = bg-black>
        <!--Se o usuário estiver autenticado faça:-->                                  
        {% if current_user.is_authenticated %}      
               
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
            <!--Mostra o usuário Logado-->
            <span class="btn btn-dark navbar-brand ms-5"><i class="bi bi-person-circle"></i> {{current_user.nome}} {{current_user.sobrenome}}
            </span>            

            <span class="btn btn btn-dark">     <!--Botão preto-->
                <i class="bi bi-info-circle"></i><!--Icone de Info-->
                <a href="{{url_for('sobre')}} " class="text-white text-end">Sobre</a><!-- Link para Sobre-->
            </span>

            <span class="btn btn btn-dark">
                <i class="bi bi-whatsapp"></i> <a href="{{url_for('contato')}}  "class="text-white text-end">Contato </a>
            </span>
            <ul>                 ____________________________________________________________________________________________________________________________________
            </ul>
            <span class="btn btn btn-danger">
                <a href ="{{url_for('logout')}}" class= "nav-link active" aria-current="page" >Sair</a>
            </span>           

            <!--Botao de Sair "Logout"
            <ul class="nav justify-content-start">
                <a href ="{{url_for('logout')}}" class= "btn btn-danger nav-link active" aria-current="page" >Sair</a>
                
            </ul>-->            
        </nav>
        <div class="text-center bg-black">
            <img src="\static\img\bgretro.jpeg" class ="mh-100 ms-5 " style="width: 400px; height:400px;">


            
        </div>
        <div class="bg-black">
            <!--Botão Azul-->
            <span class="btn btn-primary mt-4  mb-5 ms-5 bg-black">

            <!--Icone da Tesoura-->
            <i class="bi bi-book "></i>
            <!-- Link para Agenda-->
            <a href="{{url_for('agendar')}} " class="text-white">Agendar</a>
            </span>
        </div>
      
<!------------------------------------------------->

        {%else %}<!--Se não-->

        <!--Inclui os botões de navegação do arquivo nav.html usando comando python no html-->
            {% include 'nav.html' %}
            <div>
            <!--Botão Azul-->
            <span class="btn btn-primary mt-4  mb-5 ms-5 bg-black">

            <!--Icone da Tesoura-->
            <i class="bi bi-book "></i>
            <!-- Link para Agenda-->
            <a href="{{url_for('login')}} " class="text-white">Login</a>
            
            </span>
            <div class="bg-black"><p class="text-white">Faça seu login para agendar um horário</p></h2>
            </div>
                  
        {% endif %} 
    </div>
            
<footer class="bg-dark text-white text-center   position-absolute bottom-0" style= width:100%;><p>&copy; 2025 Salão Barbearia Retrô Barber. Todos os direitos reservados.</p>
</footer> 

{% endblock %}

    

        <!-- Não faz parte do programa somente para estudo.
        <div class="col-12 mt-4">Não tem cadastro? <a href="{{url_for('cadastro')}}">Faça aqui o seu Cadastro</a></div>
 
        <div class="col-12 mt-4">Gostaria de <a href="{{url_for('agendar')}}">Agendar?</a></div>

        
        <hr>
        
        <img src="{{ url_for('static', filename='img/Univesp.jpg')}}">

       
    
    
