{% extends 'base.html' %}
{% block content %}

<div class="container">
   
    
    {% include 'nav.html' %}
        
    <div>                               
        {% if current_user.is_authenticated %} <!--Se o usuário estiver autenticado faça:-->
        <span class="btn btn-primary">{{current_user.nome}} {{current_user.sobrenome}}</span><!--Mostra o usuário Logado-->

        <a href ="{{url_for('logout')}}" class= "btn btn-danger">Sair</a> <!--Botao de Sair "Logout"-->

        {%else %}<!--Se não-->

        <!--Formulário de Login-->

        <form action="" method="post" class="row mt-4 p-4 rounde border shadow">
        
        <h3>Faça seu Login</h3>
        
        

        
            <div>
            <a href="{{url_for('cadastro')}}" >Faça seu Cadastro</a>
            </div>
            <a href="{{url_for('login')}}" class="btn btn-dark">Login</a>

        </form>

        {% endif %}     
      
    </div>     
</div>
{% endblock %}

        <!-- Não faz parte do programa somente para estudo.
        <div class="col-12 mt-4">Não tem cadastro? <a href="{{url_for('cadastro')}}">Faça aqui o seu Cadastro</a></div>
 
        <div class="col-12 mt-4">Gostaria de <a href="{{url_for('agendar')}}">Agendar?</a></div>

        
        <hr>
        
        <img src="{{ url_for('static', filename='img/Univesp.jpg')}}">

       
    
    
