{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="bg-black">
    
        <form method="POST" class="col-3 ms-5 text-white bg-black">
            {{ form.hidden_tag() }}
            <div>
                <p>{{ form.email.label }} {{ form.email }}</p>    
            
            <p> {{ form.password.label }} {{ form.password }}</p>
            </div>
            <div class="btn btn-primary mb-4 ms-5 bg-black">            
                {{ form.btnSubmit }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

