{% extends 'base.html' %}
{% block content %}
<!-- Barra de Navegação-->
<div class="container">


<!--Botão de Home Page-->

<a href="{{url_for('homepage')}}" class="btn btn-dark">Home</a>

<!--Botão de Cadastro-->

<span class="btn btn-primary"> <!--Botão Azul-->
    <i class="bi bi-scissors"></i><!--Icone da Tesoura-->
    <a href="{{url_for('cadastro')}} " class="text-white">Cadastre-se</a><!-- Link para Agenda-->
</span>
<hr>


  <div class = "col-12" > 
    
   <h1><img src="\static\img\barbearia.png." class ="mh-100" style="width: 100px; height: 100px;">   Salão e Barbearia Retrô Barber</h1>
  </div>  

    

{% endblock %}

