{% extends 'base.html' %}
{% block content %}
<!-- Barra de Navegação-->
<div class="container">


<!--Botão de Home Page-->

<a href="{{url_for('homepage')}}" class="btn btn-dark">Home</a>

<!--Botão de Agendar-->

<span class="btn btn-primary"> <!--Botão Azul-->
    <i class="bi bi-scissors"></i><!--Icone da Tesoura-->
    <a href="{{url_for('agendar')}} " class="text-white">Agendar</a><!-- Link para Agenda-->
</span>
<hr>
<p class="fs-1">Salão e Barbearia Retrô Barber</p>
    

{% endblock %}

