<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre a Barbearia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <div class="container">
            <a class="navbar-brand, btn btn-dark" href="{{url_for('homepage')}}">Home</a>
            
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="\static\img\sobre.jpeg" class="img-fluid rounded" alt="Imagem da barbearia" style="width: 655px; height: 381px;">
            </div>
            <div class="col-md-6">
                <h2>Sobre Nós</h2>
                <p>Bem-vindo à Barbearia Estilo, onde tradição e modernidade se encontram para oferecer cortes de cabelo impecáveis e um atendimento de qualidade. Nossa equipe de barbeiros experientes está sempre pronta para garantir que você saia com um visual elegante.</p>
                <p>Com anos de experiência no ramo, prezamos pelo conforto e satisfação de nossos clientes. Venha nos visitar e descubra o que nos torna únicos!</p>
                <br>
                <div class="d-flex justify-content-end mt-5 ">
                    <a href="contato" class="btn btn-primary bg-black">Entre em Contato</a> 
                    
                </div>
            </div>
        </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
        <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2025 Salão Barbearia Retrô Barber. Todos os direitos reservados.</p>
        </footer>
    </div>

</body>

</html>